.amf-search-results-portlet {
	.result-data {
		.results-grid {
			border-style: none;
		}

		.results-header th {
			display: none;
		}

		.results-row td {
			background: #EEF0F2;
			border-style: none;
		}

		.results-row.alt td {
			background: #EEF0F2;
		}
	}
}